@import "../../../variables";

.mission-div {
  position: relative;
  margin-top: 120px;
  // padding-top: 40px;
  @media screen and (max-width: 820px) {
    margin-top: 40px;
  }
}

.image {
  display: block;
  // height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  transition: 0.5s ease;
  background-color: rgba(1, 57, 116, 1);
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  @media screen and (max-width: 820px) {
    height: 400px;
  }

  h1 {
    margin-bottom: 30px;
    font-weight: bold;
    padding-top: 50%;
    font-size: 60px;
    @media screen and (max-width: 820px) {
      font-size: 30px;
    }
    span {
      font-family: polymath;
      color: $secColor;
      font-size: 70px;
      @media screen and (max-width: 820px) {
        font-size: 35px;
      }
    }
  }
  p {
    font-weight: bold;
    font-size: 35px;
    @media screen and (max-width: 820px) {
      font-size: 20px;
    }
  }
}
