@import "../../variables";

.top-nav-container {
  padding: 0px 90px;
  background-color: none;
  margin-top: -10px;
  @media screen and (max-width: 820px) {
    padding: 10px;
  }
  img {
    border-radius: 10px;
  }
}
