.partners-slider {
  * {
    padding: 0;
    margin: 0;
  }

  .slider {
    margin: 0px auto;
    overflow: hidden;
    position: relative;
  }

  .slider .slide-track {
    animation: scroll 100s linear infinite;
    display: flex;
    width: calc(200px * 18);
  }
  .slider .slide-track2 {
    animation: scroll 60s linear infinite;
    display: flex;
    width: calc(200px * 18);
  }
  .slider .slide-track3 {
    animation: scroll 130s linear infinite;
    display: flex;
    width: calc(200px * 18);
  }

  .slider .slide-track:hover {
    animation-play-state: paused;
  }
  .slider .slide-track2:hover {
    animation-play-state: paused;
  }
  .slider .slide-track3:hover {
    animation-play-state: paused;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 9));
    }
  }
}

.partners-immgs {
  margin-top: 60px;
  // height: 70px;
  background: transparent;
  @media screen and (max-width: 620px) {
    overflow: hidden;
  }
  img {
    margin: 20px 35px;
    @media screen and (max-width: 620px) {
      margin: 0px 15px;
    }
  }
  .standard {
    width: 150px;

    @media screen and (max-width: 820px) {
      width: 80px;
      aspect-ratio: 2/1;
    }
  }
}
