.page-link-div {
  height: 600px;
  border-top-right-radius: var(--x-coord) var(--y-coord);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  background: white;
}
